<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <!-- Custom styles for this template -->
    <link   th:href="@{/css/style.css}" type="text/css" rel="stylesheet" media="screen"/>
</head>
  <div th:fragment="before-body-script">
      <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
      <script th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.min.js}"></script>
      <script th:src="@{/js/deboing.js}"></script>
  </div>
</html>