<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >


<div id="topheader" role="navigation" th:fragment="common-navbar">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active"><a class="nav-link" th:text="#{navbar.home.text}" href="/home"></a></li>
                <li class="nav-item" ><a class="nav-link" th:text="#{navbar.about.text}" href="/about"></a></li>
                <li class="nav-item"><a class="nav-link" th:text="#{navbar.contact.text}" href="/contact"></a></li>
            </ul>

        </div>

         <ul class="navbar-nav navbar-right">
             <li  th:if="${#authorization.expression('!isAuthenticated()')}">
                 <a class="nav-link" th:text="#{navbar.login.text}" href="/login"/>
             </li>
             <li  th:if="${#authorization.expression('!isAuthenticated()')}">
                 <a class="nav-link" th:text="#{navbar.signup.text}" href="/register"/>
             </li>
             <li class="nav-item" th:if="${#authorization.expression('isAuthenticated()')}"  >
                 <form id="f" th:action="@{/logout}" method="post" role="form" class="navbar-form">
                     <button class="btn btn-primary" type="submit">Logout</button>
                 </form>
             </li>

         </ul>
    </nav>


</div>
</html>